.container-fluid
  .panel.panel-default
    .panel-heading
      %h3.panel-title
      = @event.name
    .panel-body
      %p#notice= notice

      %p
        %b Name:
        = @event.name
      %p
        %b Start date:
        = @event.start_date

    .panel-footer
      = link_to 'Edit', edit_event_path(@event)
      \|
      = link_to 'Back', events_path
