!!!
%html
  %head
    %title SloppySets
    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
  %body
    - if params[:action] == "dashboard" && params[:controller] == "static_pages"
      = render 'layouts/home_image'
    .container-fluid
      = render 'layouts/navbar'
    .container-fluid
      = yield