!!!
%html
  %head
    %title SloppySets
    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
  %body
    .container-fluid
      = image_tag('volleyball-sunset.jpg', alt: 'volleyball sunset', class: 'img-responsive center-block col-xs-12', id: 'banner-image')
    .container-fluid
      = render 'layouts/navbar'
      = yield
